<div class="hero-unit">
  <h2 class="epNombre"><%= especialidadProfile.epNombre %></h2>
  <%- linkTo('Edit this especialidadProfile', editEspecialidadProfilePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', especialidadProfilePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>EspecialidadProfile Properties</h2>
<% for(var i in especialidadProfile) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= especialidadProfile[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>