<div class="control-group">
  <label for="vpUserName" class="control-label">UserName</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpUserName, {type:'text', class:'span6', name:'vpUserName'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpSemana" class="control-label">Semana</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpSemana, {type:'number', class:'span2', name:'vpSemana'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpCiclo" class="control-label">Ciclo</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpCiclo, {type:'number', class:'span2', name:'vpCiclo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpPSID" class="control-label">Profesional de la Salud</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpPSID, {type:'text', class:'span6', name:'vpPSID'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpPOTID" class="control-label">Potencial</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpPOTID, {type:'text', class:'span6', name:'vpPOTID'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpACTID" class="control-label">Actividad Realizada</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpACTID, {type:'text', class:'span6', name:'vpACTID'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpFecha" class="control-label">Fecha</label>
  <div class="controls">
    <%- contentTag('input', visitaProfile.vpFecha, {type:'datetime', class:'span3', name:'vpFecha'}) %>
  </div>
</div>
<div class="control-group">
  <label for="vpObservacion" class="control-label">Observacion</label>
  <div class="controls">
    <%- contentTag('textarea', visitaProfile.vpObservacion, {class: 'span6', name: 'vpObservacion', rows: 10}) %>
  </div>
</div>
