<div class="hero-unit">
  <h2 class="id"><%= visitaProfile.id %></h2>
  <%- linkTo('Edit this visitaProfile', editVisitaProfilePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', visitaProfilePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>VisitaProfile Properties</h2>
<% for(var i in visitaProfile) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= visitaProfile[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>