<div class="hero-unit">
  <h2 class="catNombre"><%= categoriaProfile.catNombre %></h2>
  <%- linkTo('Edit this categoriaProfile', editCategoriaProfilePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', categoriaProfilePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>CategoriaProfile Properties</h2>
<% for(var i in categoriaProfile) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= categoriaProfile[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>