<div class="control-group">
  <label for="mPCodigo" class="control-label">Codigo</label>
  <div class="controls">
    <%- contentTag('input', maestroProfile.mPCodigo, {type:'text', class:'span6', name:'mPCodigo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="mPNombre" class="control-label">Nombre</label>
  <div class="controls">
    <%- contentTag('input', maestroProfile.mPNombre, {type:'text', class:'span6', name:'mPNombre'}) %>
  </div>
</div>
<div class="control-group">
  <label for="mPDescripcion" class="control-label">Descripcion</label>
  <div class="controls">
    <%- contentTag('textarea', maestroProfile.mPDescripcion, {class: 'span6', name: 'mPDescripcion', rows: 10}) %>
  </div>
</div>
<div class="control-group">
  <label for="mPEstado" class="control-label">Estado</label>
  <div class="controls">
    <%- contentTag('input', maestroProfile.mPEstado, {type:'text', class:'span6', name:'mPEstado'}) %>
  </div>
</div>
<div class="control-group">
  <label for="mPTipo" class="control-label">Tipo</label>
  <div class="controls">
    <%- contentTag('input', maestroProfile.mPTipo, {type:'text', class:'span6', name:'mPTipo'}) %>
  </div>
</div>
